body{
padding: 0px;
margin: 0px;
background-image: url("sunset_bg.jpg");
background-color: #cccccc;
}

img.abalasimitch{ 
width: 1200px;
height: 500px;
margin-left: 30px;
}

img.gagiyungweb{
width: 600px;
height: 500px;
margin-left: 30px;
}

img.parasagrades{
width: 600px;
height: 500px;
}

header.bastatitleto{
font-size: 50px;
text-align: center;
font: arial;
background: yellow;
}

h2.katamad{
font: arial;
font-size: 30px;
}

section.awitlods{
border: 1px solid black;
background: orange;
}

footer.waggayahin{
background: #505050;
}
